---
import Layout from '@layouts/Default.astro';
import RecentBlogPosts from '@components/generic/RecentBlogPosts.astro';
import MobileSocials from '@components/home/MobileSocials.astro';
import { Pill } from '@eliancodes/brutal-ui';
import { Button } from '@eliancodes/brutal-ui';
import { Card } from '@eliancodes/brutal-ui';
---

<Layout
  title='Price Inflation Report'
  pageTitle='Price Inflation Report | Understanding Price Changes in America'
  description='Help Americans understand changing prices in the economy and daily life with clear inflation data and personal impact calculators.'
>
  <main class='bg-pink p-6'>
    <section class='grid grid-cols-1 gap-8 mt-4'>
      <Card>
        <iframe 
          src="/inflation-tracker.html" 
          style="width: 100%; min-height: 100vh; border: none;"
          title="Price Inflation Report"
        ></iframe>
      </Card>
    </section>
  </main>
</Layout>
