name: nightly
on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch: # Allows manual triggering
jobs:
  upgrade:
    runs-on: ubuntu-latest
    env:
      NODE_OPTIONS: '--max_old_space_size=4096'
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: pnpm

      - name: Install dependencies
        run: pnpm install

      - name: Upgrade Astro
        run: pnpm dlx @astrojs/upgrade --yes

      - name: Check for changes
        id: git-check
        run: |
          git diff --exit-code || echo "changes=true" >> $GITHUB_OUTPUT
          if [ -z "$(git status --porcelain)" ]; then
            echo "changes=false" >> $GITHUB_OUTPUT
          else
            echo "changes=true" >> $GITHUB_OUTPUT
          fi

      - name: PR Changes
        if: steps.git-check.outputs.changes == 'true'
        uses: peter-evans/create-pull-request@v5
        with:
          branch: ci/update-astro
          commit-message: 'ci: update Astro'
          title: 'ci: update Astro'
          body: |
            Update Astro and packages to latest version
            
            Auto-generated by nightly workflow
          labels: ci
          delete-branch: true

      - name: No updates needed
        if: steps.git-check.outputs.changes == 'false'
        run: echo "No Astro updates available. Skipping PR creation."
